#Footer{
    max-width: 100%;
    margin-top: 20px;
    background-color: rgba(0, 35, 71, 0.98);
    height: 10vh;
    
   .FooterArea{
    padding: 15px 450px;
    align-items:center ;
    .FooterText{
        font-size: 18px;
        color: white;
    }
   } 
}